body {
  margin: 0;
  background: #fff;
    font-size: 0.875rem !important;
    font-family: "Poppins", Helvetica, sans-serif;
    color: #444;
 height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
